@import "src/common/styles/sass/variables";

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: $bgSecondColor;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid black;
}