@import "src/common/styles/sass/variables";

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: $bgSecondColor;
    padding: 20px;

    text-align: center;
    font-size: 14px;
}