.contactsBlock {
    height: 100vh;
    background-color: aliceblue;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contacts {
    border: 1px solid;
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.formContacts input, .formContacts textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
}


@media screen and (max-width: 752px) {
    .formContacts {
        width: 90%;
    }
}

