@import "sass/mixins.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include widthHeight(80%, 100%);

    margin: 0 auto;

}