@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.skill {
    @include module(250px, $bgSecondColor);

    align-items: center;
    @media screen and (max-width: 320px) {
        width: 100%;
    }

    .square {
        @include flexCenter();

        @include widthHeight(70px, 70px);

        background-color: rgba(255, 255, 255, 0.1);
        transform: rotate(45deg);
        margin: 30px 30px;

        .icon {
            @include widthHeight(50px, 50px);

            margin: 20px;
            transform: rotate(-45deg);
        }
    }

    .info {
        padding: 25px 20px;

        .title {
            @include text($titleFontFamily, 16px, 1.2, 700, capitalize, 1px);
            margin: 0 0 5px;
        }

        .description {
            @include text($textFontFamily, 13px, 1.8, 300, none, 0);
        }
    }
}







