@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.title {
    margin: 0;
    position: relative;

    h2 {
        @include text($titleFontFamily, 30px, 1.2, 700, capitalize, 5px);
        margin: 0 0 30px;
    }

    &::before {
        content: '';
        width: 55px;
        height: 1px;
        background-color: $primaryColor;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

