@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.title {
    margin: 0;
    position: relative;

    h2 {
        @include text($titleFontFamily, 30px, 1.2, 700, capitalize, 5px);
        margin: 0 0 30px;
    }

    &::before {
        @include widthHeight(55px, 1px);

        @include contentBefore($primaryColor, 50%);

        top: auto;
        right: auto;
        transform: translate(-50%, 50%);
    }
}

