.skillsBlock {
    min-height: 100vh;
    background-color: wheat;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
}

@media screen and  (max-width: 942px) {

    .skillsContainer {
        justify-content: center;
    }

    .skills {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

}