@import 'src/common/styles/sass/variables.scss';
@import 'src/common/styles/sass/mixins';

.heroBannerContent {
    height: 100vh;
    background-color: $bgColor;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 767px) {
        padding: 100px 0;
    }

    .dTable {
        @include flexCenter();
        width: 100%;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        .vAlignMiddle {
            vertical-align: middle;
        }

        .dTableCell {
            display: table-cell !important;
        }

        .heroBannerLeft {
            width: 40%;

            @media screen and (max-width: 767px) {
                @include widthPaddingBottom();
            }

            .intro {
                width: 90%;


                span {
                    @include text($textFontFamily, 16px, 1.8, 400, capitalize, 0);
                    @media screen and (max-width: 767px) {
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                    }

                }

                h1 {
                    @include text($titleFontFamily, 50px, 1.2, 700, none, 5px);
                    padding: 10px 0 10px;
                    margin: 0;

                    @media screen and (max-width: 767px) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: 416px) {
                        font-size: 30px;
                    }

                    span {
                        @include text($titleFontFamily, 50px, 1.2, 700, none, 5px);
                        display: inline-block;
                        position: relative;

                        @media screen and (max-width: 767px) {
                            font-size: 40px;
                        }
                        @media screen and (max-width: 416px) {
                            font-size: 30px;
                        }

                        &::before {

                            @include widthHeight(100%, 20px);

                            @include contentBefore($primaryColor, 0);

                            top: auto;
                            z-index: -1;
                        }
                    }
                }

                .typingText {
                    justify-content: flex-start;
                    font-size: 27px;
                    margin: 0;
                    color: $textColor;
                    @media screen and (max-width: 920px) {
                        font-size: 22px;
                    }
                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
        }

        .heroBannerRight {
            width: 40%;

            @media screen and (max-width: 767px) {
                display: block !important;
                width: 100%;
            }

            .heroRight {
                display: table;
                margin: 0 auto;
                position: relative;

                img {
                    max-height: 430px;
                    @media screen and (max-width: 767px) {
                        max-height: 300px;
                    }
                }

                span {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: -9;
                    height: 100%;
                    width: 92%;
                    border: 5px solid #4e93e6;
                    transform: scale(1.13) translate(10%, 0px);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}


.dFlex {
    display: flex !important;
}

.vAlignCenter {
    align-items: center !important;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

