@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.project {
    @include module(450px, $bgColor);

    .image {
        @include flexCenter();

        @include widthHeight(100%, 260px);

        vertical-align: middle;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            @include contentBefore($bgColor, 0);

            opacity: 0.4;
        }

        @media screen and (max-width: 519px) {
            block-size: auto;
            aspect-ratio: 2/1;
        }

        .viewBtn {
            @include text($textFontFamily, 14px, 1.2, 400, uppercase, 1px);

            background-color: $primaryColor;
            text-decoration: none;
            padding: 7px 20px;
            z-index: 1;
        }
    }

    .info {
        padding: 25px 20px;

        .title {
            @include text($titleFontFamily, 16px, 1.2, 700, none, 1px);
            margin: 0 0 5px;
        }

        .description {
            @include text($textFontFamily, 13px, 1.8, 300, none, 0);
        }
    }
}





