.project {
    display: flex;
    flex-direction: column;
    width: 450px;
    background: #252527;
    text-align: center;
    margin-bottom: 30px;

    .projectImage {
        height: 260px;
        width: 100%;
        background-color: gray;

        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: black;
            opacity: 0.4;
        }

        @media screen and (max-width: 519px) {
            block-size: auto;
            aspect-ratio: 2/1;
        }

        .viewBtn {
            background-color: #1f1f20;

            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;

            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 7px 20px;
            color: #fff;

            z-index: 1;

        }
    }

    .projectInfo {
        padding: 25px 20px;

        .title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            margin: 0 0 5px;
            color: #fff;
            line-height: 1.2;
            font-weight: 700;
        }

        .description {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            line-height: 1.8;
            color: #fff !important;
            font-size: 13px;
        }
    }
}





