@import "common/styles/sass/variables";

* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1.8 'Poppins', sans-serif;
    color: $textColor;
    overflow-x: hidden;
    background-color: $bgColor;
}