@import "common/styles/sass/variables";

* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1.8 'Poppins', sans-serif;
    color: $textColor;
    overflow-x: hidden;
}

.App {
    > div {
        &:nth-child(n) {
            background-color: $bgSecondColor;
        }

        &:nth-child(2n) {
            background-color: $bgColor;
        }
    }
}