@import './variables';

@mixin text($fontFamily,$fontSize,$lineHeight,$fontWeight,$textTransform,$letterSpacing) {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    text-transform: $textTransform;
    letter-spacing: $letterSpacing;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin widthPaddingBottom {
    width: 100%;
    padding-bottom: 60px;
}


@mixin module($width,$backGroundColor) {
    display: flex;
    flex-direction: column;
    width: $width;
    background: $backGroundColor;
    text-align: center;
    margin-bottom: 30px;
}

@mixin widthHeight($width,$height) {
    width: $width;
    height: $height;
}

@mixin contentBefore($backgroundColor,$left) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $left;
    background-color: $backgroundColor;
}

@mixin columnFlexStart {
    flex-direction: column;
    justify-content: flex-start;
}
