@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.footerBlock {
    text-align: center;
    padding: 40px 0;
    color: $textColor;
    background: $bgColor;

    .footerContainer {
        @include columnFlexStart();

        .logo {
            display: block;
            letter-spacing: 3px;
            color: $textColor;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .socialLinks {
            list-style: none;
            padding: 0;
            margin: 0 0 20px;

            li {
                display: inline-block;
                margin: 5px 10px;
                text-transform: capitalize;
            }

            .socialIcon {
                display: block;
                text-align: center;
                font-size: 14px;
                color: $textColor;
                text-decoration: none;
            }
        }

        .copyright {
            margin: 0;
            color: rgba(255, 255, 255, .5);
        }
    }
}








