@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.projectsBlock {
    background-color: $bgColor;
    padding: 100px 0;

    .projectsContainer {
        flex-direction: column;
        flex-wrap: nowrap;

        .projects {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 30px;
            @media screen and (max-width: 1128px) {
                justify-content: center;
            }
        }
    }
}





